@import "var";
.Learn1Container {
  width: 70%;
  margin: 100px auto 0 auto;
}
.Learn1SearchBar {
  display: flex;
  align-items: center;
  height: 100%;
  margin-top: 10px;
}
.Learn1SearchInput {
  height: 40px;
  width: 260px;
  border: 1px solid $color4;
  border-radius: 5px;
}
.Learn1SearchButtonOut {
  margin-left: 10px;
  background: $color2;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color5;
  font-size: 10px;
  transition: 0.5s;
}
.Learn1SearchButtonIn {
  margin-left: 10px;
  background: $color4;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color1;
  font-size: 10px;
  cursor: pointer;
  box-shadow: 0 0 2px $color4;
  transition: 0.5s;
}
